@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-ExtraBold.eot");
  src: url("../fonts/NotoSans-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-ExtraBold.woff2") format("woff2"), url("../fonts/NotoSans-ExtraBold.woff") format("woff"), url("../fonts/NotoSans-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Medium.eot");
  src: url("../fonts/NotoSans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Medium.woff2") format("woff2"), url("../fonts/NotoSans-Medium.woff") format("woff"), url("../fonts/NotoSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Bold.eot");
  src: url("../fonts/NotoSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Bold.woff2") format("woff2"), url("../fonts/NotoSans-Bold.woff") format("woff"), url("../fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url("../fonts/NotoSans-Regular.eot");
  src: url("../fonts/NotoSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/NotoSans-Regular.woff2") format("woff2"), url("../fonts/NotoSans-Regular.woff") format("woff"), url("../fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.main__schedule {
  padding: 80px 0px;
}

.main__testimonials {
  padding: 80px 0;
}

.main__repair {
  padding: 80px 0;
}

.main__logotypes {
  padding: 57px 0;
}

@media screen and (max-width: 480px) {
  .main__schedule {
    padding: 40px 0px;
  }
}
.header-services__body-text {
  text-align: center;
}

.schedule__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.schedule__upper,
.schedule__bottom {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #858A8F;
  margin-bottom: 40px;
}

.schedule__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials {
  background: #074368;
}

.testimonials__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonials__content-image-box {
  width: 88px;
  height: 88px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-bottom: 24px;
}

.testimonials__content-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #fff;
}

.testimonials__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__cards-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  border-radius: 8px;
  position: relative;
  padding: 24px;
}
.testimonials__cards-item::after {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 28px;
  right: 24px;
  background: url("../content/logos/google-icon.svg");
}
.testimonials__cards-item:not(:last-child) {
  margin-right: 24px;
}

.cards-item__upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.avatar-box {
  overflow: hidden;
  height: 100%;
  border-radius: 50%;
  margin-right: 24px;
}

.info-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.015em;
  color: #0C75BA;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rating-item:not(:last-child) {
  margin-right: 5px;
}

.post-date {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #9CA0A5;
}

.cards-item__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #394048;
  margin-bottom: 16px;
}

.cards-item__btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #0C75BA;
}
.cards-item__btn:hover {
  text-decoration: underline;
}

.repair__accordeon {
  margin-bottom: 40px;
}

.accordeon__accordeon-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #858A8F;
  margin: 24px 0;
}

.accordeon__item {
  padding: 14px 16px;
  border: 1px solid #CFE4F1;
  border-radius: 8px;
}
.accordeon__item:not(:last-child) {
  margin-bottom: 24px;
}

.accordeon__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.015em;
  color: #0C75BA;
  position: relative;
  margin-left: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.accordeon__title:before {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -32px;
  background: url("../content/logos/down-arrow.svg");
}

.accordeon__content {
  display: none;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: display 5s;
  transition: display 5s;
}

.active .accordeon__content {
  display: block;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  padding: 16px 0px 16px 40px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.active .accordeon__title::before {
  -webkit-transform: rotate(180deg) translateY(50%);
          transform: rotate(180deg) translateY(50%);
}

.accordeon__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #858A8F;
  margin-bottom: 16px;
}

.accordeon__text-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #858A8F;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 28px;
  padding-right: 16px;
}
.accordeon__text-item:not(:last-child) {
  margin-bottom: 16px;
}
.accordeon__text-item::before {
  content: "";
  width: 6px;
  height: 6px;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -16px;
  background: url("../content/logos/dot.svg");
}

.hidden-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #394048;
  margin-bottom: 24px;
}

.logotypes {
  background: #CFE4F1;
}

.logotypes__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__brands {
  padding: 80px 0;
}

.brands__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brands__content {
  max-width: 559px;
  margin-right: 58px;
}

.brands__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #394048;
  margin-bottom: 24px;
}

.brands__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #858A8F;
}

.brands__list-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 32px;
  padding-right: 152px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brands__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 544px;
}
@media screen and (max-width: 480px) {
  .brands__list {
    margin-top: 24px;
  }
}

.brands__list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.015em;
  color: #0C75BA;
  margin-bottom: 24px;
}

.brand__list-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #858A8F;
  position: relative;
}
.brand__list-item:not(:nth-child(6)), .brand__list-item:not(:nth-child(12)) {
  margin-bottom: 16px;
}
.brand__list-item:after {
  content: "";
  width: 24px;
  height: 24px;
  display: block;
  position: absolute;
  left: -32px;
  top: 0;
  background: url("../content/logos/check-circle.svg");
}

.subscribe {
  max-width: 1440px;
  overflow: hidden;
  margin: 0 auto;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(35, 67, 106, 0.7)), to(rgba(35, 67, 106, 0.7))), url("../content/images/hvac.jpg") center no-repeat;
  background: linear-gradient(0deg, rgba(35, 67, 106, 0.7), rgba(35, 67, 106, 0.7)), url("../content/images/hvac.jpg") center no-repeat;
}

.subscribe-form {
  background: #fff;
  padding: 32px;
  margin: 54px auto;
  max-width: 572px;
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 16px rgba(61, 63, 72, 0.1);
          box-shadow: 0px 4px 16px rgba(61, 63, 72, 0.1);
}
.subscribe-form input {
  border: 1px solid #C1C4C7;
  width: 100%;
  max-width: 242px;
  padding: 17px 2px 11px 21px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #1B1C21;
  margin-bottom: 6px;
  border-radius: 4px;
}
.subscribe-form p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #C1C4C7;
}
.subscribe-form input:focus ~ label,
.subscribe-form input:valid ~ label {
  display: block;
  top: 0.125rem;
  font-size: 12px;
  padding-bottom: 6px;
}

.subscribe__heading {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  letter-spacing: -0.02em;
  color: #0C75BA;
  margin-bottom: 24px;
}

.subscribe__text {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: -0.01em;
  color: #394048;
  max-width: 508px;
  margin-bottom: 34px;
}

.input-name {
  margin-right: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 242px;
          flex: 0 1 242px;
}

.input-email {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 242px;
          flex: 0 1 242px;
}

.subscribe-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
  .testimonials__cards-item::after {
    bottom: 26px;
    top: auto;
  }
  .testimonials__content-title {
    font-size: 24px;
  }
  .logotypes__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe {
    background: #23436A;
  }
  .subscribe-form {
    margin: 0 auto;
    padding: 19px;
    background: #23436A;
  }
  .subscribe__text {
    max-width: 239px;
    margin: 0px auto 24px auto;
  }
  .subscribe__heading {
    color: #fff;
  }
  .subscribe__text {
    color: #B0B3B7;
  }
  .subscribe-inputs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .input-name {
    margin: 0 0 24px 0;
  }
  .form__btn--color {
    background: #fff;
    color: #23436A;
  }
}
@media screen and (max-width: 1151px) {
  .testimonials__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonials__content {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 768px) {
  .main__testimonials {
    padding: 40px 0;
  }
  .testimonials__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .testimonials__content {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .testimonials__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonials__cards-item:not(:last-child) {
    margin: 0px 0px 40px 0px;
  }
  .logotypes__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .brand__list-left {
    margin-right: 32px;
  }
  .logo {
    margin-right: 30px;
  }
  .logo:not(:last-child) {
    margin-bottom: 50px;
  }
}