
@import 'mixins';
@import 'variables';


body {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
}

// default styles
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container {
    max-width: 1198px;
    padding: 0 15px;
    margin: 0 auto;
}

.image-container {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.socials-list {
    display: none;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background: $green_pang;
}

.swiper-pagination-bullet-active {
    background: $blue_jade;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

.header__top-background {
    display: none;
    width: 100%;
    @include shadow_extra;
    border-bottom: 1px solid $grey_4;
    height: 76px;
    z-index: 50;
    background: $white_color;
    position: fixed;
}

// paddings-sections

.main__services {
    padding: 56px 0 0 0;

}

.main__installation {
    padding-top: 34px;
}

.main__statistics {
    padding: 45px 0;
}

// defualt button
.button {
    @include button-style($blue_electric);
    @include button-font;
    white-space: nowrap;

    &:hover {
        background: $blue_cobalt;
    }

    &:focus {
        border: 2px solid $blue_frost;
    }

    &:active {
        background: $blue_cobalt;
    }

    &:disabled {
        background: $grey_2;
        color: $grey_8;
    }
}

// button--white
.button--trans {
    &:hover {
        background: $grey_1;
    }

    &:focus {
        border: 2px solid $blue_frost;
    }

    &:active {
        background: $grey_2;
    }

    &:disabled {
        background: $grey_2;
        color: $grey_5;
    }
}







// header
// header-top



.header__top-inner {
    display: flex;
    flex-direction: column;
}

.header__top-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid $grey_3;
}

.header__logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    max-width: 190px;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 122%;
    letter-spacing: -0.02em;
}

.info-list {

    display: flex;

    .info-item {
        display: flex;
        flex-direction: column;
        position: relative;

        &:not(:last-child) {
            margin-right: 78px;
        }

        .info-title {
            margin-bottom: 4px;
            display: flex;
            align-items: center;
            gap: 16px;
            margin-left: -40px;
            @include subtitle_1($blue_jade);
        }

        .call:before {
            content: "";
            display: block;
            width: 23px;
            height: 22px;
            background: url(../content/logos/call_logo.svg);

        }

        .hours:before {
            content: "";
            display: block;
            width: 24px;
            height: 24px;
            background: url(../content/logos/clock_logo.svg);

        }

        .open-hours__item,
        .call-number {
            @include title-body_2($grey_7);
        }

    }
}



.header_top-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}



.header__menu-list {
    display: flex;

}

.header__menu-item:not(:last-child) {
    margin-right: 34px;

}

.header__menu-item {
    transition: all .2s;

    span {
        color: $blue_jade;
    }

    &:hover {
        color: $blue_jade;
    }
}


// header-body
.header__body {
    position: relative;
    max-height: 650px;
    max-width: 1440px;
    margin: 0 auto;
}

.header__body-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $blue_electric;
    opacity: 0.7;
    z-index: -1;
}

.header__body-image {
    position: relative;
    height: 650px;
    overflow: hidden;

    img {
        display: block;
        position: absolute;
        top: -9999px;
        left: -9999px;
        bottom: -9999px;
        right: -9999px;
        margin: auto;
        z-index: -2;
    }
}



.header__body-content {
    margin-top: 128px;
}

.header__body-title {
    @include title_1($white_color);
    margin-bottom: 24px;
}

.header__body-text {
    @include title_4($white_color);
    margin-bottom: 40px;
}

.header__body-btn {
    @include button-style($white_color);
    @include button-font($blue_jade);
}

.header__body-message {
    @include title_4($white_color);
    transform: translateY(-100%);
    padding: 25px 0;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
    background: $blue_jade;


}








// MAIN

// SERVICES=====================================================

.services {
    background: $grey_1;
    padding-bottom: 40px;
}

.services__heading {
    text-align: center;
}

.services__subtitle {
    @include title-body_2($blue_jade);
    margin-bottom: 16px;
}

.services__title {
    @include title_2($grey_10);
}

.services__cards {
    padding: 40px 23px 56px 15px;
}



.cards__item {
    background: #fff;
    @include shadow_extra;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 24px;
}

.cards__item-image {
    margin-bottom: 24px;

    img {
        width: 100%;

        object-fit: cover;
    }
}

.cards__item-content {
    margin-bottom: 24px;
    padding-left: 21px;
    padding-right: 21px;
}

.cards__title {
    text-align: center;
    @include title_4($grey_10);
}

.cards__text {
    @include subtitle_2($grey_8);
    align-self: center;
}

.cards__btn {
    text-align: center;
}

.btn__read-more {
    @include subtitle_2($blue_jade, 16px);
    @include button-style($white_color);
}



// INSTALLATION ==================================================

.installation__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.adaptive-image {
    display: none;
}



.installation__heading {
    text-align: left;
    margin-bottom: 40px;
}

.installation__subtitle {
    @include title-body_2($blue_jade);
    margin-bottom: 16px;
}

.installation__title {
    @include title_2($grey_10);
}

.installation__text {
    @include title-body_2($grey_8);
    margin-bottom: 40px;
}



// statistics =================================================

.statistics {
    background: $grey_1;
}


.stats-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 110px;
    flex-wrap: wrap;
}

.stats-item {
    white-space: nowrap;
}

.stats-count {
    @include title_2($grey_10);
    text-align: center;

}

.stats-desc {
    text-align: center;
    @include title_4($blue_jade);
}


// CONTACT FORM =================================================

.contact {
    height: 684px;
    max-width: 1440px;
    overflow: hidden;
    margin: 0 auto;
    background: url(../content/images/contact-form-back.jpg) center no-repeat;

    .container {
        padding: 0;
    }

}



.contact-form {
    background: $white_color;
    padding: 32px;
    margin: 54px auto;
    max-width: 572px;
    border-radius: 8px;
    @include shadow_large;

    input,
    textarea {
        border: 1px solid $grey_5;
        width: 100%;
        max-width: 508px;
        padding: 17px 2px 11px 21px;
        @include title-body_2($main_black);
        margin-bottom: 6px;
        border-radius: 4px;
    }

    select {
        border: 1px solid $grey_5;
        appearance: none;
        position: relative;
        margin-bottom: 10px;
        width: 100%;
        max-width: 508px;
        padding: 17px 2px 11px 12px;
        border-radius: 4px;
        @include title-body_2($main_black);
        font-size: 16px;

    }

    p {
        @include title-body_2($grey_5);
    }

    input:focus~label,
    input:valid~label,
    textarea:focus~label,
    textarea.notEmpty~label {
        display: block;
        top: 0.125rem;
        font-size: 12px;
        padding-bottom: 6px;
    }

    textarea {
        height: 120px;
    }
}

.select-wrapper {
    position: relative;

    &:after {
        content: "";
        width: 5px;
        height: 8px;
        display: block;
        position: absolute;
        transform: rotate(-90deg);
        top: 40%;
        right: 15px;
        background: url('../content/logos/arrow-left.svg')
    }
}

.form__btn-box {
    display: flex;
    justify-content: center;
}

.contact__heading {
    @include title_2($grey_10);
    text-align: center;
    margin-bottom: 34px;

    span {
        color: $blue_jade;
    }
}

.input-item {
    position: relative;
    margin-bottom: 15px;

    label {
        position: absolute;
        pointer-events: none;
        left: 17px;
        top: 16px;
        transition: 0.2s ease all;
    }
}


.select {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.check {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 15px;

    input {
        width: auto;
        padding: 5px;

        margin-bottom: 0;
        margin-right: 6px;
    }

    a {
        text-decoration: underline;
    }

    a:hover {
        text-decoration: underline;
        color: $blue_jade;
    }

}


// QUESTIONS ==================================================

.questions {
    background: $grey_1;
}

.main__questions {
    padding-top: 80px;
    padding-bottom: 40px;
}



.questions__heading {
    text-align: center;
    margin-bottom: 40px;
}

.questions__subtitle {
    @include title_body_2($blue_jade);

}

.questions__title {
    @include title_2($grey_10)
}

.questions__cards-list {
    display: flex;
    padding-bottom: 40px;

}

.questions__cards-item {
    background: $white_color;
    border-radius: 8px;
    padding: 43px 0px 43px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:not(:last-child) {
        margin-right: 24px;
    }
}

.questions__logo-box {
    margin-bottom: 19px
}

.questions__cards-title {
    @include title_4($grey_10);
    margin-bottom: 16px;
}

.questions__cards-text {
    @include subtitle_2($grey_8);
}


// HVAC =================================================================

.hvac {
    background: url(../content/images/hvac.jpg) center no-repeat;

}



.hvac__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 454px;
}

.hvac__wrapper {
    background: #fff;
    @include shadow_large;
    border-radius: 8px;
    padding: 40px 80px;
    margin: 0 auto;
    display: flex;
    max-width: 582px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hvac__content {
    max-width: 422px;

}

.hvac__title {
    @include title_2($grey_10);
    text-align: center;
}

.hvac__text {
    @include title-body_1($grey_8);
    margin: 24px 0;
    text-align: center;
}

.hvac__btn-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.hvac__read-btn {
    @include button-style($blue_jade);
}

.hvac__btn-contact {
    margin-left: 38px;


}



// NEWS =================================================


.news {
    background: $grey-1;
}

.main__news {
    padding-top: 56px;
    padding-bottom: 28px;
}

.news__inner {
    position: relative;
}

.news__heading {
    text-align: center;
    margin-bottom: 40px;
}

.news__subtitle {
    @include title-body_2($blue_jade);
}

.news__title {
    @include title_2($grey_10);
}

.news-swiper {
    padding-bottom: 56px;
}

.swiper-slide {
    background: #fff;
    overflow: hidden;
    border-radius: 8px;
}

.swiper__image-box {
    margin-bottom: 24px;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.swiper__content {
    margin-bottom: 72px;
    padding: 0px 21px;
}

.swiper__date {
    @include caption($grey_7);
    margin-bottom: 8px;
}

.swiper__title {
    @include title_4($grey_10);
}

.swiper__text {
    @include subtitle_2($grey_8)
}

.swiper__btn {
    padding-left: 21px;
    padding-bottom: 24px;
}

.swiper__read-more {
    @include subtitle_2($blue_jade, 16px);

    &:hover {
        text-decoration: underline;
    }
}



.swiper-button-next {
    right: -20px;
}

.swiper-button-prev {
    left: -20px;
}

.swiper-button-next,
.swiper-button-prev {
    top: 52%;
    width: 40px;
    height: 40px;
    background: $blue_jade;
    border-radius: 4px;
}

@media screen and (max-width:1060px) {
    .swiper-button-next {
        right: 0px;
    }

    .swiper-button-prev {
        left: 0px;
    }
}

@media screen and (max-width:992px) {

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
    opacity: 1;
    background: $grey_3;

    &::after {
        transform: rotate(0deg);
        background: url(../content/logos/arrow-left.svg);
    }
}

.swiper-button-next.swiper-button-disabled {
    &::after {
        transform: rotate(180deg);
        background: url(../content/logos/arrow-left.svg);
    }
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 0;
}

.swiper-button-next::after {
    content: "";
    width: 5px;
    height: 8px;
    display: block;
    background: url(../content/logos/right-arrow.svg);
}

.swiper-button-prev::after {
    content: "";
    width: 5px;
    height: 8px;
    display: block;
    transform: rotate(180deg);
    background: url(../content/logos/right-arrow.svg);
}



// FOOTER ===================================================

.footer {
    background: $grey_10;
    padding: 48px 0 40px 0;
}

.footer__upper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 20px;
    flex-wrap: wrap;


}

.footer__commercial-list {
    max-width: 274px;
    margin-right: 15px;
}



.commercial-title {
    @include title_4($green_pang);
    margin-bottom: 16px;
}

.commercial-text {
    @include subtitle_1($white_color, 16px);
    margin-bottom: 36px;
}

.commercial-socials {
    display: flex;
}

.commercial-socials__item {
    &:not(:last-child) {
        margin-right: 16px;
    }
}

.footer__nav-list {
    display: flex;
    margin-right: 15px;
    flex-direction: column;
}

.footer__nav-item {
    @include title_body_2($grey_4);

}

.footer__nav-title {
    @include title_4($white_color);
    margin-bottom: 24px;
}


.nav-menu__item {
    &:not(:last-child) {
        margin-bottom: 16px;
    }
}

.nav-menu__link {
    transition: all .2s;

    &:hover {
        text-decoration: underline;
    }
}

.footer__contact {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    max-width: 274px;
}

.footer__contact-title {
    @include title_4($white_color);
    margin-bottom: 24px;
}

.contact-item {
    @include title_body_2($grey_4);

    a:hover {
        text-decoration: underline;
    }
}

.footer__middle {
    display: flex;
    align-items: center;
}

.footer__line {
    width: 100%;
    height: 0px;
    border-top: 1px solid #fff;
}

.footer__btn-up {
    width: 40px;
    height: 40px;
    background: $blue_jade;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transform: rotate(-90deg);
}

.footer__bottom {
    padding-top: 20px;
    text-align: center;
    @include title_body_2($white_color);

    a:hover {
        text-decoration: underline;
    }
}



// MEDIA ======================================


@media screen and (max-width: 768px) {


    .burger {
        position: fixed;
        right: 16px;
        top: 22px;
        width: 24px;
        height: 24px;
        display: flex;
        z-index: 150;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        span {
            display: block;
            width: 16px;
            height: 2px;
            border-radius: 4px;
            background: $blue_jade;
            transition: all .3s;

            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }

    }

    .burger-active {

        .top {
            transform: rotate(45deg) translate(1px, 4px);
        }

        .middle {
            display: none;
        }

        .bottom {
            transform: rotate(-45deg) translate(0px, -4px);
        }
    }

    .header__top-background {
        display: block;
    }

    .header__top-upper {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: relative;
        padding: 0px 0 16px 0;
    }


    .header_top-bottom {
        flex-direction: column;
        position: fixed;
        top: 0px;
        right: 0;
        bottom: 0;
        left: 0;
        background: $white_color;
        z-index: 100;
        padding: 0 84px;
        transform: translateY(-150%);
        transition: all .3s;

        .header__menu-list {
            margin-top: 92px;
            text-align: center;
            flex-direction: column;
            gap: 34px;
            align-items: center;
            justify-content: center;

            .header__menu-item:not(:last-child) {
                margin: 0;
            }

        }

        .header__top-btn {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 24px;

            .socials-list {
                display: flex;
                margin-top: 32px;
                align-items: center;
                justify-content: center;

                .socials-item:not(:last-child) {
                    margin-right: 16px;
                }
            }
        }


    }

    .header-active {
        transform: translateY(0px);
    }

    .info-list .info-item:not(:last-child) {
        margin: 0;
    }

    .header__logo-box {
        position: fixed;
        top: 18px;
        align-self: start;
        padding-bottom: 17px;
        font-size: 14px;
        z-index: 150;

        .header__logo-text {
            margin-left: 9px;
        }
    }

    .underline-adapt {
        width: 120%;
        margin-top: 76px;
        border-top: 1px solid $grey_3;
    }

    .info-list {
        display: flex;
        flex-direction: column;
        padding-top: 17px;
        width: 100%;

        .info-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .info-title {
                @include title-body_2($blue_jade);
                margin: 0;
            }

            &:not(:last-child) {
                margin-bottom: 24px;
            }

            .call {
                align-self: center;
            }

            .call:before {
                width: 16px;
                height: 16px;
                background: url('../content/logos/call_small.svg');
            }

            .hours {
                align-self: flex-start;
            }

            .hours:before {
                width: 16px;
                height: 16px;
                background: url('../content/logos/clock_small.svg');
            }
        }
    }

    .header__body-content {
        text-align: center;
        margin: auto 0;
        height: 100%;

    }

    .header__body-image {
        display: flex;

        .header__body-content {
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: -30px;
        }

    }

    .header__body-message {
        padding: 25px 16px;

        svg {
            flex: 0 0 auto;
        }
    }

    .header__body-text {
        font-size: 14px;
        font-weight: 400;
    }

    // installation

    .installation__inner {
        padding-bottom: 36px;
    }

    .installation__text {
        font-size: 16px;
    }


    // statistics
    .stats-list {
        padding: 0;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 24px;


    }
}

@media screen and (max-width: 480px) {
    .swiper__btn {
        text-align: center;
        padding-left: 0px;
    }

    .swiper__title {
        max-width: 256px;
        margin-bottom: 8px;
        font-size: 19px;
    }

    .ac-2__title,
    .ac__tittle,
    .services__title,
    .news__title,
    .contact__heading,
    .installation__title,
    .questions__title,
    .hvac__title {
        font-size: 24px;
    }

    .header__body-message {
        font-size: 14px;
    }

    .installation__image-box,
    .ac__image-box {
        display: none;
    }

    .installation__inner {
        align-items: center;
        justify-content: center;
    }

    .installation__btn-box,
    .ac__btn-box {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .installation__heading,
    .ac__heading {
        text-align: center;
        margin-bottom: 20px;
    }

    .adaptive-image {
        display: block;
        margin-bottom: 30px;

        img {
            display: block;
            margin: 0 auto;
            align-self: center;
            justify-self: center;
        }
    }

    .stats-list {
        flex-direction: column;
    }

    .contact {
        background: none;
        height: auto;
    }

    .contact-form {
        margin: 0;
    }

    .hvac {
        background: none;

        .container {
            padding: 0;
        }
    }

    .hvac__inner {
        height: auto;
        width: 100%;
    }

    .hvac__read-btn {
        @include button-font($white_color);
        @include button-style($blue_jade);
    }

    .hvac__btn-contact {
        margin: 16px 0 0 0;
    }

    .footer__commercial-list {
        margin-bottom: 32px;
    }

    .footer__nav-list {
        margin-bottom: 32px;
    }

    .footer__middle {
        flex-direction: column;

        .footer__line {
            margin-bottom: 32px;
        }
    }
}