$main_black: #1B1C21;
$grey_10: #394048;
$grey_9: #666D74;
$grey_8: #858A8F;
$grey_7: #9CA0A5;
$grey_6: #B0B3B7;
$grey_5: #C1C4C7;
$grey_4: #D1D3D5;
$grey_3: #DFE1E2;
$grey_2: #EDEDEE;
$grey_1: #F9F9FA;
$green_pang: #CFE4F1;
$blue_jade: #0C75BA;
$blue_grass: #074368;
$blue_electric: #23436A;
$blue_cobalt: #556E8C;
$blue_frost: #CCD4DD;
$white_color: #fff;
$black_color: #000;